<!DOCTYPE html>
<html lang="en">
<head>
  <title>NetidInterface</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span12">
      <h3>NetID Looker Upper</h3>
    </div>
  </div>
  <hr/>


<%= yield %>

</div>
</body>
</html>
