.row
  .span12
    .form-search
      .input-append
        %input.input-medium.search-query#netid{type: :text, placeholder: "NetID"}
        %button.btn.btn-primary#netid_form{type: 'button'} Lookup
.row
  .span12
    #result
      %p Awaiting query.



